In [11]:
# Import required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
#df = pd.read_csv("train.csv")
df_test = pd.read_csv('test.csv')

In [12]:
df_test.shape

(1459, 80)

# NA Imputation

#### Missing Values in Test Data

In [13]:
series_names = ['BsmtExposure','BsmtQual','FireplaceQu','GarageQual']
for series_name in series_names:
    df_test.loc[df_test[series_name].isnull(),series_name] = 'None'
    print(df_test[series_name].value_counts(sort = True))
    print('*'*20)

No      951
Av      197
Gd      142
Mn      125
None     44
Name: BsmtExposure, dtype: int64
********************
TA      634
Gd      591
Ex      137
Fa       53
None     44
Name: BsmtQual, dtype: int64
********************
None    730
Gd      364
TA      279
Fa       41
Po       26
Ex       19
Name: FireplaceQu, dtype: int64
********************
TA      1293
None      78
Fa        76
Gd        10
Po         2
Name: GarageQual, dtype: int64
********************

In [14]:
# check NA in original df
df_test.isnull().sum()[df_test.isnull().sum()>0]   # 28 columns contain N/A

MSZoning           4
LotFrontage      227
Alley           1352
Utilities          2
Exterior1st        1
Exterior2nd        1
MasVnrType        16
MasVnrArea        15
BsmtCond          45
BsmtFinType1      42
BsmtFinSF1         1
BsmtFinType2      42
BsmtFinSF2         1
BsmtUnfSF          1
TotalBsmtSF        1
BsmtFullBath       2
BsmtHalfBath       2
KitchenQual        1
Functional         2
GarageType        76
GarageYrBlt       78
GarageFinish      78
GarageCars         1
GarageArea         1
GarageCond        78
PoolQC          1456
Fence           1169
MiscFeature     1408
SaleType           1
dtype: int64

#### Line by line
#### Doesn't handle floats

In [15]:
# There is one house in test set that containing missing value in GarageArea, seems like it does not have a Garage
df_test['GarageArea']= df_test['GarageArea'].fillna(0)
# Only one house has missing value in BsmtSF due to no basement, should fill NA with 0
df_test['TotalBsmtSF'] = df_test['TotalBsmtSF'].fillna(0)
df_test['BsmtFinSF1'] = df_test['BsmtFinSF1'].fillna(0)
df_test['BsmtFinSF2'] = df_test['BsmtFinSF2'].fillna(0)
df_test['BsmtUnfSF'] = df_test['BsmtUnfSF'].fillna(0)
# There are 2 houses that have missing values in basement bathroom due to no basement 
df_test['BsmtFullBath'] = df_test['BsmtFullBath'].fillna(0)
df_test['BsmtHalfBath'] = df_test['BsmtHalfBath'].fillna(0)
df_test['Exterior1st'] = df_test.groupby(['RoofMatl'])['Exterior1st'].transform(lambda x: x.fillna(x.mode()[0])) # group by roofmaterial? 
df_test['KitchenQual'] = df_test.groupby(['OverallCond'])['KitchenQual'].transform(lambda x: x.fillna(x.mode()[0])) # group by Overall Condition
# 2 houses have missing values in Functional. Both are in poor quality condition and sold as abnormal type. Should not consider it as Functional_typ
df_test['Functional'] = df_test['Functional'].fillna('Mod')
# 4 houses having missing values in MSZoning
df_test['MSZoning'] = df_test.groupby(['Neighborhood'])['MSZoning'].transform(lambda x:x.fillna(x.mode()[0]))

df_test.loc[:,['GarageArea','TotalBsmtSF','BsmtFinSF1','BsmtFinSF2','BsmtUnfSF','BsmtFullBath','BsmtHalfBath','Exterior1st','KitchenQual','Functional','MSZoning']].isnull().sum()

GarageArea      0
TotalBsmtSF     0
BsmtFinSF1      0
BsmtFinSF2      0
BsmtUnfSF       0
BsmtFullBath    0
BsmtHalfBath    0
Exterior1st     0
KitchenQual     0
Functional      0
MSZoning        0
dtype: int64

##### df_test.isnull().sum()[df_test.isnull().sum()>0]

# Create Custom Features

In [18]:
# Create Custom Feature: Adjusted Total Basement Area
df_test['AdjTotalBsmtSF'] = df_test['BsmtFinSF1']+df_test['BsmtFinSF2']+0.9*df_test['BsmtUnfSF']

In [19]:
# Create Custom Feature: Adjusted Total Bathroom 
df_test['AdjTotalBath'] = df_test['FullBath']+df_test['BsmtFullBath']+0.6*(df_test['HalfBath']+df_test['BsmtHalfBath'])

In [20]:
# Create Custom Feature: HouseAge
df_test['HouseAge'] = df_test['YrSold']-(0.6*df_test['YearRemodAdd']+0.4*df_test['YearBuilt'])

In [21]:
# Create Custom Feature: Outdoor SF
df_test['AdjOutdoorSF'] = df_test['3SsnPorch']+df_test['EnclosedPorch']+df_test['OpenPorchSF']+df_test['ScreenPorch']+df_test['WoodDeckSF']

In [22]:
df_test.shape

(1459, 84)

# Function to create dummify features

In [23]:
def dummify_categorical(df, columns):
    for col in columns:
        # value_counts (sort by frequency)
        grouped = df.groupby(col)[[col]].agg('count').rename(columns={col:'count'}).sort_values(by = "count", ascending = False)
        # dummify all categories
        df = pd.get_dummies(df, columns=[col], prefix=col, prefix_sep='_') 
        # categories with frequency less than 65
        columns_to_drop = list(grouped.loc[grouped['count']<65].index)
        columns_to_drop = [col + "_" + i for i in columns_to_drop]
        # drop dummified columns
        if len(columns_to_drop) > 0:
            df = df.drop(columns = columns_to_drop,axis = 1)
        else:
            # when all the categories have frequency higher than 70
            df = df.drop(col + "_" + grouped.index[0], axis=1)
    return df

In [24]:
df_test_dummified = dummify_categorical(df_test,['CentralAir','Exterior1st','Foundation','Functional',\
                        'LotConfig','LotShape','MasVnrType','MSZoning','PavedDrive'])
df_test_dummified.head(5)

,Id,MSSubClass,LotFrontage,LotArea,Street,Alley,LandContour,Utilities,LandSlope,Neighborhood,...,LotShape_IR1,LotShape_Reg,MasVnrType_BrkFace,MasVnrType_None,MasVnrType_Stone,MSZoning_FV,MSZoning_RL,MSZoning_RM,PavedDrive_N,PavedDrive_Y
0,1461,20,80.0,11622,Pave,NaN,Lvl,AllPub,Gtl,NAmes,...,0,1,0,1,0,0,0,0,0,1
1,1462,20,81.0,14267,Pave,NaN,Lvl,AllPub,Gtl,NAmes,...,1,0,1,0,0,0,1,0,0,1
2,1463,60,74.0,13830,Pave,NaN,Lvl,AllPub,Gtl,Gilbert,...,1,0,0,1,0,0,1,0,0,1
3,1464,60,78.0,9978,Pave,NaN,Lvl,AllPub,Gtl,Gilbert,...,1,0,1,0,0,0,1,0,0,1
4,1465,120,43.0,5005,Pave,NaN,HLS,AllPub,Gtl,StoneBr,...,1,0,0,1,0,0,1,0,0,1

# Function for ordinal variables

In [25]:
def impute_ordinal(df, list_of_dic_to_replace):
    for dic in list_of_dic_to_replace:
        df = df.replace(dic)
    return df

In [26]:
list_of_dic_to_replace = [
    {"BsmtExposure": {"Gd": 5, "Av": 4, "Mn": 3, "No": 2, "None": 0}},
    {"BsmtQual": {"Ex": 7, "Gd": 4, "TA": 2, "Fa": 1, "Po": 0, "None": 0}},
    {"ExterQual": {"Ex": 5, "Gd": 4, "TA": 3, "Fa": 1}}, # "Po": 0
    {"FireplaceQu": {"Ex": 5, "Gd": 3, "TA": 2.5, "Fa": 1.5, "Po":0, "None": 0.5}},
    {"KitchenQual": {"Ex": 4, "Gd": 3, "TA": 2, "Fa": 1}},    #"Po": 0
    {"GarageQual": {"Ex": 5, "Gd": 5, "TA": 4.5, "Fa": 2.5, "Po": 1, "None": 1}},
    {"HeatingQC": {"Ex": 3, "Gd": 2, "TA": 1.5, "Fa": 1, "Po": 0}}]

df_test_ordinal_dummified = impute_ordinal(df_test_dummified,list_of_dic_to_replace)
df_test_ordinal_dummified.head(5)

,Id,MSSubClass,LotFrontage,LotArea,Street,Alley,LandContour,Utilities,LandSlope,Neighborhood,...,LotShape_IR1,LotShape_Reg,MasVnrType_BrkFace,MasVnrType_None,MasVnrType_Stone,MSZoning_FV,MSZoning_RL,MSZoning_RM,PavedDrive_N,PavedDrive_Y
0,1461,20,80.0,11622,Pave,NaN,Lvl,AllPub,Gtl,NAmes,...,0,1,0,1,0,0,0,0,0,1
1,1462,20,81.0,14267,Pave,NaN,Lvl,AllPub,Gtl,NAmes,...,1,0,1,0,0,0,1,0,0,1
2,1463,60,74.0,13830,Pave,NaN,Lvl,AllPub,Gtl,Gilbert,...,1,0,0,1,0,0,1,0,0,1
3,1464,60,78.0,9978,Pave,NaN,Lvl,AllPub,Gtl,Gilbert,...,1,0,1,0,0,0,1,0,0,1
4,1465,120,43.0,5005,Pave,NaN,HLS,AllPub,Gtl,StoneBr,...,1,0,0,1,0,0,1,0,0,1

In [28]:
df_test_ordinal_dummified.to_csv("test_modified.csv",index = False)

# Define Predictors

In [ ]:
list_of_continuous_columns = ['AdjTotalBsmtSF', 'GarageArea', 'GrLivArea', 'HouseAge', 'LotArea',\
                        'AdjTotalBath', 'TotRmsAbvGrd', 'AdjOutdoorSF', 'OverallQual']
df_without_outliers = remove_rows_with_outliers(df_ordinal_dummified, list_of_continuous_columns, stdev_threshold = 3)

In [ ]:
list_of_dummified_categorical = ['CentralAir_N', 'Exterior1st_HdBoard', 'Exterior1st_MetalSd',
       'Exterior1st_Plywood', 'Exterior1st_VinylSd', 'Exterior1st_Wd Sdng',
       'Foundation_BrkTil', 'Foundation_CBlock', 'Foundation_PConc',
       'Functional_Typ', 'LotConfig_Corner', 'LotConfig_CulDSac',
       'LotConfig_Inside', 'LotShape_IR1', 'LotShape_Reg',
       'MasVnrType_BrkFace', 'MasVnrType_None', 'MasVnrType_Stone',
       'MSZoning_FV', 'MSZoning_RL', 'MSZoning_RM', 'PavedDrive_N',
       'PavedDrive_Y']

In [ ]:
list_of_ordinal_categorical = ['BsmtExposure', 'BsmtQual', 'ExterQual', 'FireplaceQu', 'GarageQual',\
'HeatingQC', 'KitchenQual']

In [ ]:
list_of_predictors = list_of_continuous_columns+list_of_dummified_categorical+list_of_ordinal_categorical 
len(list_of_predictors)